<div class="row mt-5">
  <div class="col-1 chart-legend mt-5">
    <p>
      {{highestValor | number: '1.0-0' }}
    </p>
    <p>
      {{highestValor / 2 | number: '1.0-0'}}
    </p>
    <p>
      {{highestValor / 100 | number: '1.0-0'}}
    </p>
  </div>
  <div class="col-10 chart-content mt-5 p-0">
    <div class="chart" [ngStyle]="{'grid-template-columns' : 'repeat('+points.length+',1fr)'}">
      <div class="bar" data-toggle="tooltip" data-placement="top" title="{{pts.points}}"
        [ngStyle]="{'height' : pts.valueInPixel+'px', 'animation-delay' : (0.5 / points.length) * index + 's'}"
        *ngFor="let pts of points; index as index">
        <div class="date-indicator" *ngIf="pts.displayValue">
          <p>
            {{pts.points}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col 12 text-center mt-5">
    <button (click)="getPeriod()">Change chart amount</button>
  </div>
</div>